<h1>Playlists App</h1>

<h6> Hola <%= current_user.email%> </h6><br>

<h2>Mis Playlists</h2>

<ul>
  <% @one_playlist.users.each do |user|%>
  <li>
    <p>
      <%=link_to user.email, user_path(user)%>
    </p>
    <button type="button" name="Editar"><%=link_to "Editar", edit_user_path(user)%></button><br><br>

    <%= form_for user, :method => :delete do |f| %>
    <%= f.submit %>
    <% end %><br><br>

  </li>
  <%end%>
</ul>

<h2>Todas las users</h2>

<ul>
  <% @users.each do |user|%>
  <li>
    <p>
      <%=link_to user.email, user_path(user)%>
    </p>

  </li>
  <%end%>
</ul>


<h2>Playlists Todos los Usuarios</h2>

<ul>
  <% @users.each do |user|%>
  <li>
    <p>
      <%=link_to user.email, user_path(user)%>
    </p>
  </li>
  <%end%>
</ul><br>

<button type="button" name="Crear"><%= link_to "Nueva Canción", new_song_path %>></button><br><br>
<button type="button" name="Canciones"><%= link_to "Todas las canciones", songs_path %>></button><br><br>
