<h1>Crear nueva Playlist</h1><br>

<%= form_for @playlist do |f|%>
  <div class="form-group">
      <label for="playlist_name">Name</label>
        <%= f.text_field :name %>
  </div>
  <div class="form-group">
      <label for="playlist_url">Url</label>
        <%= f.text_field :url %>
  </div>
  <%= f.submit %>
<%end%>

<br><button type="button" name="Home"><%= link_to "Volver al Home", root_path %></button><br><br>
