
<h1><%=@playlist.name%></h1>

<h5><%=@user.playlists.name%></h5>

<ol>

<%@playlist.songs.each do |song|%>
  <li>
      <%=song.name%><rb>
      <%# <%=song.url%> %>


      <iframe width="560" height="315" src= "<%= song.url %>"></iframe>


  </li>
<%end%>

</ol>
